.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.align-items-center {
  align-items: center;
}

.img-fluid {
  max-width: 100%;
}

@for $m from 1 to 5 {
  .mb-#{$m} {
    margin-bottom: #{$m}rem;
  }

  .mt-#{$m} {
    margin-top: #{$m}rem;
  }
}

/*--------------------*/
body {
  background-image: url(../images/block-bg.svg);
  background-color: $mgrn;
  min-height: 100vh;
  color: $mblk;
  font-family: Arial, Helvetica, sans-serif, '微軟正黑體';
  overflow-x: hidden;
}

.bg-yel {
  background-color: $lyel;
  border-radius: 2rem;
}

.bg-grn {
  background-color: $lgrn;
  border-radius: 2rem;
}

.sec0 {
  height: 100vh;
  position: relative;
  margin-bottom: 10vh;
}

.pen {
  position: absolute;
  width: 5%;
  top: 39%;
  transform: rotate(-26deg);
  left: 5%;
}

.mouse {
  position: absolute;
  width: 20%;
  top: -23%;
  right: 0;
  transform: rotate(-33deg);
}

.main-tit {
  display: flex;
  align-items: center;
  position: relative;
  width: 50vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mobileSet("pad") {
    width: 80vw;
  }

  span {
    display: block;
    text-align: center;

    &:nth-child(1) {
      width: 10vw;
      height: 10vw;
      font-size: 9vw;
      line-height: 10vw;
      background-color: $mblk;
      color: $lgrn;
      transform: rotate(-7deg);

      @include mobileSet("pad") {
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
      }
    }

    &:nth-child(2) {
      width: 8vw;
      height: 8vw;
      font-size: 7vw;
      line-height: 8vw;
      background-color: $myel;
      color: $mblk;
      transform: rotate(7deg) translate(-7px, 30px);

      @include mobileSet("pad") {
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
        transform: none;
      }
    }

    &:nth-child(3) {
      width: 8vw;
      height: 8vw;
      font-size: 7vw;
      line-height: 8vw;
      background-color: $lyel;
      color: $mblk;
      transform: rotate(-9deg) translate(-16px, 0px);

      @include mobileSet("pad") {
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
        transform: none;
      }
    }

    &:nth-child(4) {
      width: 8vw;
      height: 8vw;
      font-size: 7vw;
      line-height: 8vw;
      background-color: $myel;
      color: $mblk;
      transform: translate(-27px, 27px);

      @include mobileSet("pad") {
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
        transform: none;
      }
    }

    &:nth-child(5) {
      width: 8vw;
      height: 8vw;
      font-size: 7vw;
      line-height: 8vw;
      background-color: $mblk;
      color: $lgrn;
      transform: rotate(5deg) translate(-33px, 10px);

      @include mobileSet("pad") {
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
        transform: none;
      }
    }

    &:nth-child(6) {
      width: 8vw;
      height: 8vw;
      font-size: 7vw;
      line-height: 8vw;
      background-color: $lgrn;
      color: $mblk;
      transform: rotate(-9deg) translate(-46px, 24px);

      @include mobileSet("pad") {
        width: 15vw;
        height: 15vw;
        line-height: 15vw;
        transform: none;
      }
    }
  }

  +.cht {
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.25rem;
    padding: .5rem;

    &::before,
    &::after {
      content: "";
      width: 30px;
      height: 1px;
      position: absolute;
      top: 0;
      left: calc(50% - 15px);
      background-color: $mblk;
    }

    &::after {
      content: "";
      bottom: 0;
      top: unset;
    }
  }
}

.scroll-tip {
  position: absolute;
  bottom: 1vh;
  width: 100%;
  text-align: center;
  font-size: .8rem;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: $lyel;
    width: 20vw;
    height: 20vw;
    border-radius: 20vw;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobileSet('pad') {
      width: 50vw;
      height: 50vw;
      border-radius: 50vw;
    }
  }

  img {
    animation: floating 1s infinite alternate;
  }
}

main {
  position: relative;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    width: 15vw;
    height: 33vh;
    background: url(../images/hand-front.svg) no-repeat top left;
    background-size: contain;
    z-index: 12;
    right: 9%;
    top: 36%;

    @media screen and (max-width:1400px) {
      content: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 40vw;
    height: 100vh;
    background: url(../images/hand-bk.svg) no-repeat top left;
    background-size: contain;
    right: -5vw;
    bottom: -20%;
    z-index: -2;

    @media screen and (max-width:1400px) {
      content: none;
    }
  }

}

section {
  position: absolute;
  // position: fixed;
  // position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  transform-origin: bottom center;
  pointer-events: none;

  @include mobileSet('pad') {
    position: static;
    height: auto;
    transform: none !important;
  }

  * {
    pointer-events: auto;
  }

  // &.sec0,
  // &.sec7 {
  //   height: 100vh;
  // }

  @for $i from 1 through 7 {
    &.sec#{$i} {
      // z-index: $i; //----relative
      z-index: 10 - $i;
    }
  }

  &.active {
    .page {
      background-color: white !important;
      border-color: $mblk;
    }

  }

  &.sec1 {
    transform: rotate(2deg);
  }

  &.sec2 {
    transform: rotate(-2deg) translate(2%, -1%);
  }

  &.sec3 {
    transform: rotate(3deg) translate(2%, -1%);
  }

  &.sec4 {
    transform: rotate(2deg);
  }

  &.sec5 {
    transform: rotate(-2deg) translate(2%, -1%);
  }

  &.sec6 {
    transform: rotate(1deg) translate(1%, -1%);
  }
}

.page {
  border: 8px solid $mblk;
  background: white;
  padding: 2% 2% 10%;
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 100vh;
  bottom: -10%;
  margin: 0 auto;
  transform: translateX(5%);

  @include mobileSet('pad') {
    transform: translateX(0);
    height: auto;
    background: white !important;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  @for $i from 1 through length($pageColor) {

    &.page#{$i} {
      background-color: nth($pageColor, $i);
      border-color: nth($pageColor, $i);
    }

    .tag#{$i} {
      background-color: nth($pageColor, $i);
    }
  }

  &.page7 {
    background-color: $mgrn;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobileSet('pad') {
      background-color: $mgrn !important;
    }
  }

  article {
    position: relative;
    margin: 0 0 0 auto;
    width: calc(100% - 4rem);

    @include mobileSet('pad') {
      width: 100%;
    }
  }
}

.tag {
  border: 8px solid $mblk;
  color: $mblk;
  width: 175px;
  padding: .5rem 1rem;
  font-weight: bold;
  font-size: 1.15rem;
  position: absolute;
  left: -125px;
  transform: rotate(0);

  @include mobileSet('pad') {
    display: none;
  }

  &.tag1 {
    top: 5%;

  }

  &.tag2 {
    left: -100px;
    top: 12%;
  }

  &.tag3 {
    top: 30%;
    transform: rotate(2deg);
    left: -147px;
  }

  &.tag4 {
    top: 38%;
    transform: rotate(-8deg);
  }

  &.tag5 {
    top: 45%;
    left: -115px;
  }

  &.tag6 {
    top: 60%;
    left: -100px;
    transform: rotate(4deg);
  }
}

.tri-list {
  display: flex;
  align-items: center;

  @include mobileSet('pad') {
    flex-direction: column;
  }

  .icon {
    background: $mgrn;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 40px;
    line-height: 1;
    margin-right: .5rem;
  }

  span {
    color: $mblk;
  }

  li {
    width: 25%;

    @include mobileSet('pad') {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    >div {
      &:last-child {
        margin-top: .5rem;

        @include mobileSet('pad') {
          margin-top: 0;
          margin-left: 1rem;
        }
      }
    }
  }
}

.pic {
  background-color: $lgrn;
  border: 8px solid $mblk;
  width: 30%;
  position: absolute;
  top: -4rem;
  right: 0;
  transform: rotate(-4deg);
  box-shadow: 5px 5px $myel;

  @include mobileSet('pad') {
    width: 40%;
    top: -2rem;
  }

  img {
    margin-bottom: -21%;
  }
}

.name {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 5px;

  @include mobileSet('pad') {
    font-size: 3rem;
  }
}

.eng-name {
  letter-spacing: 3px;
  font-size: 2rem;

  @include mobileSet('pad') {
    font-size: 1.25rem;
  }
}

.simple-intro {
  margin: 5% 0;
  padding: 5% 7.5%;
  line-height: 1.75;
  position: relative;
  display: inline-block;

  @include mobileSet('pad') {
    padding: 2rem 4rem;
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background: url(../images/txt-l.svg) no-repeat top center;
    background-size: contain;
    left: 0;
    top: 0;
  }

  &::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background: url(../images/txt-r.svg) no-repeat top center;
    background-size: contain;
    right: 0;
    bottom: 0;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tit {
  color: white;
  background-color: $mblk;
  padding: .5rem 2rem;
  display: inline-block;
  position: relative;
  margin: 0 auto 1rem;

  &::before {
    content: "";
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 5px);
    left: .5rem;
  }

  &::after {
    content: "";
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 5px);
    right: .5rem;
  }
}

.subtit {
  display: inline-block;
  border-radius: 5rem;
  background-color: $mblk;
  color: white;
  padding: .5rem 1.5rem;
  margin-bottom: 1rem;
}

.main-btn {
  border: 5px solid $mblk;
  background-color: $myel;
  display: inline-block;
  border-radius: 3rem;
  padding: .25rem 1.5rem;
  box-shadow: 0px 5px $mblk;
  transition: all .5s;

  &:hover {
    transition: all .5s;
    transform: translateY(5px);
    box-shadow: 0px 0px $mblk;
  }
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(80vh / 3);
  margin-bottom: 1rem;

  @include mobileSet('pad') {
    flex-direction: column;
    height: auto;
  }

  .logo {
    width: 30%;
    text-align: center;

    @include mobileSet('pad') {
      width: 100%;
    }
  }

  .content {
    width: 65%;

    @include mobileSet('pad') {
      width: 100%;
      padding: 1rem;
    }
  }
}

.sec2 {
  text-align: center;

  ul {
    padding-left: 1rem;

    @include mobileSet('pad') {
      padding: 0;
      text-align: left;
    }
  }

  li {
    margin-bottom: .5rem;
  }
}

.sec4 {

  .bg-grn,
  .bg-yel {
    padding: 1rem;
    position: relative;
    margin-bottom: 2rem;
  }

  .tit {
    left: 50%;
    transform: translateX(-50%);
  }

  ul {
    margin-left: 1.5rem;
  }

  li {
    margin-bottom: .5rem;
    list-style-type: circle;
  }
}

.page6 {}

.scroll-content {
  article {
    padding: 1rem;
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $mgrn;
    }

    &::-webkit-scrollbar-button {
      background-color: transparent;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}